doctype html
html
  head
    title RIC
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js') // Include Axios library
  body
    h2 OAIC RIC
    include buttons.jade
    h2= title

    <!-- Tab buttons -->
    div
      each log in logs
        button.tab-button(onclick='openTab(event, \"tab-#{log}\")') #{log}

    <!-- Tab content -->
    each log in logs
      div.tab(id='tab-#{log}')
        .column
          pre(id='#{log}')

    script.
      // Function to fetch data from API endpoints and update columns
      function fetchDataAndUpdate() {
        const elements = !{JSON.stringify(logs)};
        elements.forEach( elem => {
            axios.get('srs/logs/' + elem)
          .then(response => {
            element = document.getElementById(elem);
            element.innerText = response.data;
            element.scrollTop = element.scrollHeight;
          })
          .catch(error => {
            console.error(`Error fetching data for ${elem}:`, error);
          });
        })
    
      }

      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab-button");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        fetchDataAndUpdate();
      }

      document.getElementsByClassName("tab")[0].style.display = "block";
      fetchDataAndUpdate();