extends layout

block content
  h1 Un-Deploy xApp
  #container
  pre
    form(action='/undeploy',method='post')
      - each app, _ in apps
        p
          input(id='id-#{app[0].name}', type='radio', value='#{app[0].name}:#{app[0].version}', placeholder='', name='xapp')
          label(for='id-#{app[0].name}') #{app[0].name}
      input(type='submit',value='🗑',data-transition='fade', data-theme='c')